:root{
    --white: hsl(0, 0%, 100%);
    --yellow: hsl(47, 88%, 63%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body{
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
    color: var(--gray-950);
}

main.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    box-sizing: border-box;
    font-size: 16px;
    width: 384px;
    height: 522px;
    background-color: var(--white);
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 8px 8px;
    transition: box-shadow 1s ease-in-out;
}

.card:hover {
    box-shadow: 16px 16px;
}

.card:hover h1 {
    color: var(--yellow);
}

.card img{
    border-radius: 20px;
    margin-bottom: 24px;
}

.card .top{
    display: flex;
    flex-direction: column;    
    font-size: 15px;
    font-weight: 500;
}

.card .top span{
    width: fit-content;
    text-align: center;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--yellow);
    margin-bottom: 16px;
    font-weight: 800;
}

.card .content p{
    color: var(--gray-500);
    line-height: 1.45;
}

.card .content h1{
    font-size: 20px;
    transition: color 1s ease-in-out;
}

.card .user{
    display: flex;
    height: 65px;
    gap: 20px;
}

.card .user span{
    margin: 12px 0px;
    font-weight: 800;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 24px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 26.25rem) {
    .card{        
        width: 18.125rem;
        height: 32.625rem;
    }

    .card img{
        width: 15.625rem;
    }

    .card .user img{
        width: 3.125rem;
        height: 3.125rem;
    }
}